*{
	margin: 0;
	padding: 0;
	outline: 0;
	text-decoration: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
body{
	font-family: arial;
	font-size: 14px;
	color: #1c1e21;
	font-weight: normal;
	background: #f0f2f5
}
.loginsignup{
	padding: 120px;
}
.container{
	max-width: 992px;
	margin: auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
.justify-content-between{
	justify-content: space-between;
}
.content-left{
	max-width: 500px;
	margin: auto;
}
.content-left h1{
	font-size: 50px;
	color: #1877f2;
	margin-bottom: 20px;
	font-weight: 900;
}
.content-left h2{
	font-size: 28px;
	line-height: 32px;
	font-weight: 500;
	margin-bottom: 40px;
}
.content-right{
	max-width: 450px;
	margin: auto;
	text-align: center;
}
.content-right form{
	width: 400px;
	height: 350px;
	background: #fff;
	border-radius: 5px;
	padding: 15px;
	-webkit-box-shadow: -1px -1px 8px -1px rgba(0,0,0,0.52);
	-moz-box-shadow: -1px -1px 8px -1px rgba(0,0,0,0.52);
	box-shadow: -1px -1px 8px -1px rgba(0,0,0,0.52);
	margin-bottom: 30px;
}
.content-right form input{
	width: 100%;
	height: 50px;
	font-size: 17px;
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 0 15px;
	margin-bottom: 15px;
}
.btn{
	font-size: 20px;
	background: #1877f2;
	height: 50px;
	color: #fff;
	line-height: 50px;
	border-radius: 5px;
	margin-bottom: 20px;
	text-transform: capitalize;
}
.login input{
	display: block;
}
.login input:hover{
	background: #0d6eee;
}
.create-btn a{
	display: inline-block;
	margin-top: 20px;
	padding: 0 17px;
	background: #4cd137;
	transition: .3s;
}
.create-btn a:hover{
	background: #44bd32;
}
.forgot a{
	font-size: 14px;
	line-height: 19px;
	color:#1877f2;
}
.forgot a:hover,
.content-right p a:hover{
	text-decoration: underline;
}
.content-right p a{
	color: #1c1e21;
	font-weight: 600;
}