<!DOCTYPE html>
<html lang="en">

{% block head%} 
<head>
	<meta charset="UTF-8">
	<title>Facebook Login Sign up-2020</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='../../static/facebook/main.css') }}">
</head>

{% endblock %}

{% block body %} 

<body>
		<!-- login Page start -->
		<div class="loginsignup">
			<div class="container">
				<div class="row justify-content-between">
					<div class="content-left">
						<h1>facebook</h1>
						<h2>Facebook helps you connect and share with the people in your life.</h2>
					</div>
					<div class="content-right">
						<form action="/" method="POST">
							<div class="form-group">
								<input type="text" name="username" placeholder="Email address or phone number">
							</div>
							<div class="form-group">
								<input type="password" name="password" placeholder="Password">
							</div>
							<div class="login">
								<input type="submit" class="btn" value="Sign in">
							</div>
							<div class="forgot">
								<a href="">Forgotten account?</a>
							</div>
							<div class="create-btn">
								<a href="" class="btn">create new account</a>
							</div>
						</form>
						<p><a href="">Create a Page</a> for a celebrity, band or business.</p>
					</div>
				</div>
			</div>
		</div>
		<!-- login Page end -->
</body>

{% endblock %}
</html>