<!DOCTYPE html>
<html lang="en" dir="ltr">

{% block head%} 
<head>
  <meta charset="utf-8">
  <title>Amazon</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='../../static/amazon/main.css') }}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

{% endblock %}

{% block body %} 

<body>

  <header>
    <!--Amazon Image Logo-->
    <div class="d-flex flex-row justify-content-center">
      <div class="row">
        <div class="col-md">
          <img class="img_1" src="../../static/amazon/Amazon_logo.png"/>
        </div>
        <!--Col 1 End-->
      </div>
      <!--Row 1 End-->
    </div>
    <!--Container End-->
    <!--Amazon Image Logo-->
  </header>

  <!--Form-->
  <div class="d-flex flex-row justify-content-center">
    <div class="row">
      <div class="col-md">
        <form action="/" method="POST">
          <div class="sign-in">Sign In</div>
          <div class="form-group">
            <label id="words_1" for="exampleInputEmail1">Email(phone for mobile accounts)</label>
            <input type="email" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted"></small>
          </div>
          <div class="form-group">
            <label id="words_2" for="exampleInputPassword1">Password &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Forgot your password? </label>
            <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            <div class="form-group">
              <button type="submit" class="btn btn-warning" id="sign-in">Sign In</button>
            </div>
          </div>
          <button type="button" class="btn btn-warning" id="grey-button">Create your Amazon account</button>

        </form>
      </div>
      <!--Col 1 End-->
    </div>
    <!--Row 1 End-->
  </div>
  <!--Container End-->
  <!--Form-->

  <div class="d-flex flex-row justify-content-center footer_1">
    <div class="row">
      <div class="col">
        <p class="conditions"><a>Conditions of Use &nbsp &nbsp &nbsp </a> <a>Privacy Notice&nbsp &nbsp &nbsp </a> <a>Help&nbsp &nbsp &nbsp </a></p>
      </div>
      <!--Footer Col 1 End-->
    </div>
    <!--Footer Row 1 End-->

  </div>


  {% endblock %}